<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>New guest booking for the selected room</h1>
    <hr>
    <h2>Fill in the details:</h2>

    <form th:action="@{/booking_confirmation}" th:object="${newGuest}" method="POST">
        <input th:field="*{name}" type="text" placeholder="First name" class="form-control mb-4 col-4">
        <input th:field="*{lastName}" type="text"  placeholder="Last name" class="form-control mb-4 col-4">
        <br>
        <input type="submit" value="Confirm booking" class="btn btn-info col-2">
    </form>

    <hr>

    <a th:href="@{/booking}">Return</a>
</div>
</body>
</html>