<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Room booking</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<p>atejau į šį puslapį kaip ir turėjo būti</p>
<!--<div class="list-group">
  <a th:text="${room1.getRoomNumber()}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room1.getRoomStatus()}" class="list-group-item list-group-item-action"></a>-->
  <!--<a th:text="${room2.getRoomNumber}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room2.getRoomStatus}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room3.getRoomNumber}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room3.getRoomStatus}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room4.getRoomNumber}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room4.getRoomStatus}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room5.getRoomNumber}" class="list-group-item list-group-item-action"></a>
  <a th:text="${room5.getRoomStatus}" class="list-group-item list-group-item-action"></a>-->
<!--</div>-->
</body>
</html>