<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel homepage</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
    <a th:href="@{/booking}" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-bed w3-margin-right"></i>Home</a>
    <a th:href="@{/booking_form}" class="w3-bar-item w3-button w3-mobile">Room booking</a>
    <a th:href="@{/booking_history}" class="w3-bar-item w3-button w3-mobile">Visit history</a>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:50px;margin-top:43px;">

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-third">
                <h5>We value your stay</h5>
                <img src="https://gir.oss-ap-southeast-2.aliyuncs.com/images/home-stay.jpg" style="width:100%" alt="Hotel from google">
            </div>
            <div class="w3-twothird">
                <h5>Room status</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <th></th>
                        <th>Room number</th>
                        <th>Status</th>
                        <th>Guest</th>
                        <th>Check-in date</th>
                        <th></th>
                    </tr>
                    <tr th:each="room : ${allRooms}">
                        <td><i class="fa fa-bed w3-text-red w3-large"></i></td>
                        <td><span th:text="${room.getRoomNumber()}"></span></td>
                        <td><span th:text="${room.getRoomStatus()}"></span></td>
                        <td><span th:text="${room.getActiveVisit() != null} ? ${room.getActiveVisit.getGuestVisit().getFullName()}"></span></td>
                        <td><span th:text="${room.getActiveVisit() != null} ? ${room.getActiveVisit().getCheckInDate()}"></span></td>
                        <td><a class="btn btn-sm btn-outline-danger my-2 my-sm-0" th:href="${room.getActiveVisit() != null} ? @{'/checkout_form/' + ${room.getActiveVisit().getId()}} : @{/room_empty}">Checkout</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr>

    <!-- End page content -->
</div>
</body>
</html>
