<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room booking</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<!--THIS IS A PLACEHOLDER-->
<div th:each="room : ${allRooms}" class="list-group">
    <p th:text="${room.getRoomNumber()}" class="list-group-item list-group-item-action"></p>
    <p th:text="${room.getRoomStatus()}" class="list-group-item list-group-item-action"></p>
    <div>
        <form th:action="@{'/booking_form/' + ${room.id}}" method="get">
            <input type="submit" value="Book this room" class="btn btn-primary btn-sm">
        </form>
    </div>
</div>

</body>
</html>