<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visit history</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<hr>
<div th:each="visit : ${allVisits}" class="list-group">
    <p th:text="${visit.getCheckInDate()}" class="list-group-item list-group-item-action"></p>
    <p th:text="${visit.getVisitStatus()}" class="list-group-item list-group-item-action"></p>
    <p th:text="${visit.getGuestVisit().getFullName()}" class="list-group-item list-group-item-action"></p>
    <p th:text="${visit.getRoomVisit().getRoomNumber()}" class="list-group-item list-group-item-action"></p>
    <br>
</div>
<div>
    <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/booking}">Return</a>
</div>


</body>
</html>